.delete {
  border: solid 1.5px var(--color-green);
  border-radius: 2rem;
  height: 9rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box button {
  border: none;
  background-color: #ffffff;
}

.btn-box {
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  height: 3rem;
  width: 6rem;
  background: var(--color-green);
  border: solid 1.5px var(--color-green);
  border-radius: 1.5rem;
  color: #ffffff;
}
