.modal-container {
  position: relative;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid var(--color-green);
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  border: 1px solid var(--color-green);
  border-radius: 30px;
}
