.empty-inventory {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  text-align: center; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.empty-inventory p {
  line-height: 2rem;
  text-align: center;
}
.inventory-list {
  width: 100%;
  padding-bottom: 10rem;
  margin-top: 12.5rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
