.empty-inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.empty-inventory p {
  line-height: 1.5;
}
.inventory-list {
  width: 100%;
  padding-top: 3rem;
  height: 100%;
  padding-bottom: 10rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.list-box {
  margin-bottom: 4rem;
}
