.btn {
  background-color: #007838;
  color: #ffffff;
  font-size: 1.2rem;
  width: 23rem;
  height: 3rem;
  border-radius: 1.5rem;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn:active {
  background-color: #ffffff;
  color: black;
  border: solid 1px black;
}
