.container {
  width: 100%;
  background: #ffffff;
  border: solid 1.5px var(--color-green);
  border-radius: 2rem;
  padding: 1.5rem 1.8rem 1.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  gap: 1.5rem;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header {
  font-size: 1.6rem;
  font-weight: 400;
}
.exit-btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.exit-btn-icon {
  pointer-events: none;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
}

.btn {
  background-color: var(--color-green);
  color: #ffffff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  align-items: center;
  border: solid 1.5px var(--color-green);
  font-size: 1.2rem;
  font-weight: 300;
  gap: 0.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  line-height: normal;
  cursor: pointer;
}
